@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "微軟正黑體";
  background-color: #eee;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background-image: url("https://images.unsplash.com/photo-1588714477688-cf28a50e94f7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
  background-position: center center;
  background-size: cover;
  padding: 3% 0;
}

@media (max-width: 768px) {
  .header {
    width: 100%;
  }
}

@media (max-width: 414px) {
  .header {
    width: 100%;
  }
}

.header .title,
.header .subTitle,
.header .version {
  color: #fff;
  text-align: center;
  font-weight: bold;
  -webkit-filter: drop-shadow(0 0 3px black);
          filter: drop-shadow(0 0 3px black);
}

.header .title {
  font-size: 120px;
}

@media (max-width: 414px) {
  .header .title {
    font-size: 48px;
  }
}

.header .subTitle {
  font-size: 32px;
  padding-bottom: 1%;
}

@media (max-width: 414px) {
  .header .subTitle {
    font-size: 24px;
  }
}

.header .version {
  font-size: 16px;
  padding-bottom: 2%;
}

.header .inputGroup {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 768px) {
  .header .inputGroup {
    display: block;
  }
}

.header .inputGroup .select,
.header .inputGroup .search {
  height: 44px;
  border-radius: 6px;
  border: 1px solid #333;
  width: 45%;
  padding-left: 16px;
  font-size: 16px;
  outline: none;
}

@media (max-width: 768px) {
  .header .inputGroup .select,
  .header .inputGroup .search {
    width: 90%;
    margin-bottom: 3%;
  }
}

@media (max-width: 414px) {
  .header .inputGroup .select,
  .header .inputGroup .search {
    width: 90%;
  }
}

.cards {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 3% auto 0;
}

.cards .cardBody {
  background-color: #fff;
  width: 27.33333%;
  margin: 1%;
  padding: 2%;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 5px #37474f;
          box-shadow: 0 0 5px #37474f;
  line-height: 1.8;
}

@media (max-width: 768px) {
  .cards .cardBody {
    width: 44%;
  }
}

@media (max-width: 414px) {
  .cards .cardBody {
    width: 96%;
  }
}

.cards .cardBody .parkList {
  font-size: 18px;
}

.cards .cardBody .parkList .parkName,
.cards .cardBody .parkList .itemName {
  color: #1353dd;
  font-weight: bold;
}

.cards .cardBody .parkList .parkName {
  text-align: center;
  font-size: 32px;
}

.cards .cardBody .parkList p {
  color: #333;
  padding-top: 3%;
  line-height: 1.8;
}
